@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #f2fcf3;
    font-family: Roboto, sans-serif;
    color: #343534;
}

/* headers */

h2, h2 {
    font-family: "Noto Sans JP", sans-serif;
}

/* Header and navigation */

header {
    background-color: #1D521D;
    width: 100%;
}

#navigation li {
    padding: 10px;
    font-size: 18px;
    list-style: none;
    display:inline-block;
}

#navigation a {
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
    color: #f2fcf3;
    margin-left: 6px;
}

#navigation a:hover{
    color: red;
    text-decoration: underline;
}