@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #f2fcf3;
    font-family: Roboto, sans-serif;
    color: #343534;
}

/* headers */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    font-family: "Noto Sans JP", sans-serif;
}

/* Header and navigation */

header {
    background-color: #1D521D;
    width: 100%;
}

#navigation li {
    padding: 10px;
    list-style: none;
    display:inline-block;
}

#navigation a {
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
    color: #f2fcf3;
    margin-left: 6px;
}

#navigation a:hover {
    color: red;
    text-decoration: underline;
}

/* Home Page Hero Image and title text */

#title-section {
    width: 100%;
    height: 600px;
    text-align: center;
    color: #f2fcf3;
    padding-top: 20px;
}

.home-hero {
    background-image: url(../images/lone-walker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Routes Page Hero image */

.routes-hero {
    background-image: url(../images/walking-path.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Club Page Hero image */

.club-hero {
    background-image: url(../images/group-walking2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Home page site introduction section */

#introduction {
    height: 300px;
    margin-top: 80px;
    padding: 10px;
    text-align: center;
}

.intro {
    vertical-align: top;
    display: inline-block;
    width: 22%;
    height: 100%;
    text-align: left;
}

.intro p {
    font-size: 1rem;
    text-align: justify;
}

.intro-text {
    width: 80%;
    height: 100%;
    float: right;
    padding: 10px;
}

#route-image > img {
    width: 90%;
}

#club-image > img {
    width: 90%;
}

/* Walk of the month */

#walk-of-month {
    height: 150px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.walk-choice {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.walk-choice > img {
    height: 100%;
}

#choice-text {
    width: 40%;
    text-align: left;
    padding-left: 20px;
}

/* Footer and social media links */

footer {
    background-color: #1D521D;
    width: 100%;
    text-align: left;
}

#social-media > li {
    display: inline;
    margin-left: 10px;
}

#social-media i {
    padding: 10px;
    font-size: 25px;
    color: #f2fcf3;
}

footer > p {
    color: #f2fcf3;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

/* Walking route pointers */

#route-intro {
    text-align: center;
}

#route-intro > h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.route-pointer {
    width: 450px;
    height: 400px;
    margin: 20px;
    border: thin solid #343534;
}

.route-pointer img {
    width: 100%;
}

.current {
    display: inline-block;
    vertical-align: top;
}

.current a {
    text-decoration: none;
    color: #343534;
}

.current a:hover {
    color: red;
    text-decoration: underline;
}

.soon {
    display: inline-block;
    vertical-align: top;
}

/* Walking route pages */

#walks-page {
    text-align: center;
    margin-top: 20px;
}

.walks-info {
    width: 500px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.walks-info > img {
    width: 100%;
}

.walks-info > p {
    text-align: justify;
}